<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Senior Capstone Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header-image">
      <canvas id="header-canvas"></canvas>
    </div>
    <script>
      let $THEME = null;

      function selectTheme(theme) {
        const node = document.documentElement;
        if (theme === "system") {
          localStorage.removeItem("theme");
        } else {
          localStorage.setItem("theme", theme);
        }
        node.setAttribute("data-theme", theme);
        $THEME = theme;
      }

      selectTheme(localStorage.getItem("theme") || "system");
      document.documentElement.setAttribute("data-initial-load", "true");

      if (history.scrollRestoration) {
        history.scrollRestoration = 'manual';
      }
    </script>
    <script src="{{ url_for('static', filename='scripts/htmx-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/app.js') }}"></script>

    <div class="container">
        <div class="header">
            <a href="{{ url_for('index') }}">Khue H. Vo</a>'s Personal Space
        </div>

        <div class="navigation">
            <a href="{{ url_for('index') }}">About Me</a>
            <a href="{{ url_for('projects') }}">Projects & Experiences</a>
            <a href="{{ url_for('resume') }}">Resume</a>
        </div>

        <div class="body">
            {% block content %}{% endblock %}
        </div>

        <div class="footer">
            <p>© 2026 Senior Capstone Portfolio | Built with Flask</p>
        </div>
    </div>
    <div class="footer-image">
      <canvas id="footer-canvas"></canvas>
    </div>

    <script>
      window.setTimeout(() => {
        document.documentElement.removeAttribute("data-initial-load");
      }, 0);
    </script>
</body>
</html>